.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
api/vendor/
api/composer.lock


src/modules/test/Casera.vue
src/modules/test/Plenos.vue
api/app/Department.php

src/config.js
